@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: darkslateblue;
  font-family: Roboto, 'Courier New', Courier, monospace;
  color: #eee;
  justify-content: center;
}
div {
  display: flex;
  flex: 1 1 auto;
}

header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  flex-direction: column;
}

p {
  margin: 0;
}

.top {
  padding: 0 20px;
}
.top.left {
  justify-content: left;
} .top.center {
  justify-content: center;
} .top.right {
  justify-content: right;
}

.content {
  flex-direction: column;
  padding: 10px;
  max-width: 1000px;
}

.game-area {
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  flex-direction: row;
}

.board {
  flex-direction: column;
  /*temporal solution to disable scrolling*/
  max-height: 85vh;
  max-width: 85vw;
}

.tile {
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  background-color: #ccc;
  border: 3px outset #eee;
} .tile:hover {
  background-color: #ddd;
} .tile:active {
  background-color: #ccc;
  border-style: inset;
}
.tile.selected {
  background-color: #bbb;
  border-style: solid;
  border-color: #bbb;
}
.tile.reveal {
  border-color: red;
}


footer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 0 20px;
}
footer > button {
  flex: 1 1 0;
}

/*for testing*/

** {
  outline: 1px solid gray;
}