body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  margin: 0;
  background-color: darkslateblue;
  font-family: 'Courier New', Courier, monospace;
  color: #eee;
}

div {
  display: flex;
  flex: 1 1 auto;
}

header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  flex-direction: row;
}

.game-area {
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}

.board {
  flex-direction: column;
  /* max-width: 500px; */
  /* max-height: 500px; */
  /* aspect-ratio: 1/1; */
}

.tile {
  flex: 1 1 auto;
  background-color: #ccc;
}

footer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
footer > button {
  flex: 1 1 0;
}

/*for testing*/

* {
  outline: 1px solid gray;
}